[submodule "shells/zsh/oh-my-zsh"]
	path = shells/zsh/oh-my-zsh
	url = https://github.com/jjosh-mcintosh/oh-my-zsh.git
[submodule "shells/zsh/pure"]
	path = shells/zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "ui"]
	path = ui
	url = https://github.com/joshua-mcintosh/ui.git
[submodule "editors"]
	path = editors
	url = https://github.com/joshua-mcintosh/editors.git
[submodule "git/git-hub"]
	path = git/git-hub
	url = https://github.com/ingydotnet/git-hub
